.booking-page{
.book-number {
  width: 170px;
  height: 56px;
}
.css-q8hpuo-MuiFormControl-root{
  width: 170px;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  border: 1px solid #003F63;
  border-radius: 10px;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
  border-radius: 10px;
}
}