.lastopenbook-page{
  overflow: auto;
  height: 380px;

.lastopenbook-title {
  .css-ahj2mt-MuiTypography-root {
    color: #003f63;
    font-weight: 700;
    font-size: 20px;
    font-family: Roboto Condensed;
  }
}

.total-imgs {
  .lastopenbook-img {
    width: 140px;
    height: 70px;
    margin-bottom: 10px;
  }

  .MuiTypography-root {
    font-size: 20px;
    font-weight: 700;
    font-family: Roboto Condensed;
    // position: absolute;
    // top: 28%;
    // left: 50%;
    color: #000;
  }
  .template-img {
    width: 140px;
    height: 70px;
  }
}
}