.css-6hp17o-MuiList-root-MuiMenu-list {
  width: 150px;
}
.menu-items {
  .MuiInputBase-root {
    border-radius: 8px;
    border: 1px solid rgb(0, 63, 99);
  }
  .MuiFormControl-root {
    width: 153px;
  }
}
