.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
    border-radius: 10px !important;
    height:30px;
    background-color: #E6F0EA;
  }
  .text-input-1 {
    width: 59px;
    height: 45px;
    border: none;
    border-radius: 16px;
  
    .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
      font-size: 12px;
      font-weight: 500;
      color: #003F63;
      text-align: center;
    }
  }
  .text-input-2 {
    width: 65px;
    height: 45px;
    border: none;
    border-radius: 16px;
  
    .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
      font-size: 12px;
      font-weight: 500;
      color: #003F63;
      text-align: center;
    }
  }
  .text-input-3 {
    border-radius: 16px;
    width: 75px;
    height: 45px;
    border: none;
  
    .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
      font-size: 12px;
      font-weight: 600;
      color: #630012;
      text-align: center;
      height: 10px;
    }
  }